.text-field.error {
    -fx-text-box-border: red ;
    -fx-focus-color: red ;
}
#statusBar{
    -fx-background-color: rgba(198, 198, 198, 0.65);
    -fx-background-radius: 5;
}

#statusLabel{
    -fx-font-family:sans-serif;
    -fx-font-size: 10px;

}